.path-button-container {
    position: relative;
}

.path-button {
    width: 225px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    /* clip-path: polygon(24% 0, 29% 16%, 96% 17%, 100% 31%, 100% 68%, 92% 100%, 21% 100%, 0 100%, 0 27%, 9% 0); */
}

.path-button--selected {
    /* background-color: #00F598; */
    background-image: url('/src/assets/images/button_road_selected.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.path-button--unselected {
    /* border: solid 2px #00F598; */
    /* -webkit-mask: paint(24% 0, 29% 16%, 96% 17%, 100% 31%, 100% 68%, 92% 100%, 21% 100%, 0 100%, 0 27%, 9% 0); */
    background-image: url('/src/assets/images/button_road_unselected.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* .button-extra-part {
    width: 20px;
    height: 20px;
    background-color: #00F598;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 52%, 54% 100%, 100% 100%);
} */